		.head-label {
			background-color: lightgrey;
		}
		
		.commit-legend {
			border-bottom: 1px solid #e0e0e0;
			min-width: 250px;
			box-sizing: content-box;
		}
		
		body { font-family: Verdana, Arial; margin: 0;
		font-size: 12px }
		
		#textPanel {
			width: 100%
			
		}
		
		#console {
			width: 100%;
			background-color: black;
			color: #e6e6e6;
			border: 0;
		}

		gitline-headerpanel {
			background-color: #f2f2f2;
			width: 100%;
			display: block;
			padding: 6px;
			font-size: 14px;
			box-sizing: border-box;
			z-index: 5;
			position: relative;
		}
		
		gitline-contentpanel {
			position: absolute;
		}
		gitline-loadingpanel {
			position: absolute;
			top: 0; 
			left: 0;
			height: 100%;
			width: 100%;
			box-sizing: border-box;
			z-index: 4;
			background-color: #f2f2f2;
			font-size: 20px;
			text-align: center;
			padding-top: 50%;
			opacity: 0.8;
		}
		
		gitline-textpanel {
			z-index: 2;
			min-width: 300px;
		}
		
		gitline-identity {
			display: inline-block;
			min-width: 12px;
			min-height: 18px;
			padding-left: 3px; 
			padding-right: 3px;
			background-color: #f2f2f2;
			text-align: center;
			vertical-align: bottom;
		}
		
		gitline-graphicalpanel {
			z-index: 3;
			position: absolute!important; 
			display: block;
		}